{% extends "base.html" %}

{% block content %}
   	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg" data-setbg="../static/img/slider/1.jpeg">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
                            <h2>{{_('Dobro došli na Data Football')}}</h2>
                            <p>{{_('Ja sam Kristijan Pavičić, junior Data Scienca i Inzinjer Computer Science')}}</p>
							<a href="#" class="site-btn">Pročitaj više</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-item set-bg" data-setbg="../static/img/slider/2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h2>A nije </h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
							<a href="#" class="site-btn">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
    

    <!-- Hero section end -->
{% endblock %}